{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Entities Recognition</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script> 
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'home/entities.css' %}">
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script> 
        <script>
            
            // handle radio button click
            $(document).ready(function(){
                // handle view option
                $("#outercontainer1").show();
                $("input[name$='settag-name']").click(function(){
                    let val = $(this).val();
                    if (parseInt(val) == 1){
                        $("#outercontainer2").hide();
                        $("#outercontainer1").show();
                    }
                    else{
                        $("#outercontainer1").hide();
                        $("#outercontainer2").show();
                    }
                });
                // handle protein 
                $("input[name$='p-same']").click(function(){
                    let val = $(this).val();
                    $("div.protein-class").hide();
                    $("#protein" + val).show();
                });
                // handle gene 
                $("input[name$='g-same']").click(function(){
                    let val = $(this).val();
                    $("div.gene-class").hide();
                    $("#gene" + val).show();
                });
                // handle dna 
                $("input[name$='d-same']").click(function(){
                    let val = $(this).val();
                    $("div.dna-class").hide();
                    $("#dna" + val).show();
                });
            }); 
            function union(flag){
                let data = JSON.parse(document.getElementById('mydata').textContent);
                disese = data.disese;
                protein = data.protein;
                gene = data.gene;
                dna = data.dna;
                let leftdata;
                let tarea;
                let f;
                let text;
                let filechecked;
                if(flag == 1){ // for protein    
                    f = document.getElementById('protein-file');
                    text = document.getElementById('protein-name-area').value;
                    if(document.getElementById("p-radio-file").checked)
                        filechecked = 1;
                    else
                        filechecked = 0;
                    tarea = document.getElementById('resulted-protein-id');
                    leftdata = protein;
                }
                else if(flag == 2){ // for gene
                    f = document.getElementById('gene-file');
                    text = document.getElementById('gene-name-area').value;
                    if(document.getElementById("g-radio-file").checked){
                        filechecked = 1;
                    }
                    else
                        filechecked = 0;
                    tarea = document.getElementById('resulted-gene-id');
                    leftdata = gene;
                }
              
                if(f.files.length > 0 && filechecked){
                    let file = f.files[0];
                    let mytext;
                    // Read file 
                    let reader = new FileReader();
                    reader.addEventListener('load', function (e) {
                        mytext = e.target.result;
                        let wordarr = mytext.split(/[ ,]+/);
                        wordarr = wordarr.map(function(x){ return x.toUpperCase() })
                        leftdata = leftdata.map(function(x){ return x.toUpperCase() })
                        let data_union = [...new Set([...leftdata, ...wordarr])]; // ... for creating array form set
                        if(tarea){
                            tarea.textContent = data_union.map(function(x){ return x.toLowerCase() });
                        }
                    });
                    
                    reader.readAsBinaryString(file);
                }
                else if(text){
                    let mytext = text.split(/[ ,]+/);
                    mytext = mytext.map(function(x){ return x.toUpperCase() }) // .map is array function
                    leftdata = leftdata.map(function(x){ return x.toUpperCase() })
                    let data_union = [...new Set([...leftdata, ...mytext])]; 
                    if(tarea){
                        tarea.textContent = data_union;
                    }
                }
                else{
                    alert("Please select file of enter data !!");
                }
            }   
            function intersection(flag){
                let data = JSON.parse(document.getElementById('mydata').textContent);
                disese = data.disese;
                protein = data.protein;
                gene = data.gene;
                dna = data.dna;
                let leftdata;
                let tarea;
                let f;
                let text;
                let filechecked;
                if(flag == 1){ // for protein    
                    f = document.getElementById('protein-file');
                    text = document.getElementById('protein-name-area').value;
                    if(document.getElementById("p-radio-file").checked)
                        filechecked = 1;
                    else
                        filechecked = 0;
                    tarea = document.getElementById('resulted-protein-id');
                    leftdata = protein;
                }
                else if(flag == 2){ // for gene
                    f = document.getElementById('gene-file');
                    text = document.getElementById('gene-name-area').value;
                    if(document.getElementById("g-radio-file").checked){
                        filechecked = 1;
                    }
                    else
                        filechecked = 0;
                    tarea = document.getElementById('resulted-gene-id');
                    leftdata = gene;
                }
               
                if(f.files.length > 0 && filechecked){
                    let file = f.files[0];
                    let mytext;
                    // Read file 
                    let reader = new FileReader();
                    reader.addEventListener('load', function (e) {
                        mytext = e.target.result;
                        let wordarr = mytext.split(/[ ,]+/);
                        wordarr = wordarr.map(function(x){ return x.toUpperCase() })
                        let setB = new Set(wordarr);
                        leftdata = leftdata.map(function(x){ return x.toUpperCase() })
                        let data_intersection = [...new Set(leftdata)].filter(x => setB.has(x));
                        if(tarea){
                            tarea.textContent = data_intersection;
                        }
                    });
                    
                    reader.readAsBinaryString(file);
                }
                else if(text){
                    let mytext = text.split(/[ ,]+/);
                    mytext = mytext.map(function(x){ return x.toUpperCase() }) // .map is array function
                    let setB = new Set(mytext);
                    leftdata = leftdata.map(function(x){ return x.toUpperCase() })
                    let data_intersection = [...new Set(leftdata)].filter(x => setB.has(x)); // .has is set function
                    if(tarea){
                        tarea.textContent = data_intersection;
                    }
                }
                else{
                    alert("Please select file of enter data !!");
                }    
            }
            function leftright_difference(flag){
                let data = JSON.parse(document.getElementById('mydata').textContent);
                disese = data.disese;
                protein = data.protein;
                gene = data.gene;
                dna = data.dna;
                let leftdata;
                let tarea;
                let f;
                let text;
                let filechecked;
                if(flag == 1){ // for protein    
                    f = document.getElementById('protein-file');
                    text = document.getElementById('protein-name-area').value;
                    if(document.getElementById("p-radio-file").checked)
                        filechecked = 1;
                    else
                        filechecked = 0;
                    tarea = document.getElementById('resulted-protein-id');
                    leftdata = protein;
                }
                else if(flag == 2){ // for gene
                    f = document.getElementById('gene-file');
                    text = document.getElementById('gene-name-area').value;
                    if(document.getElementById("g-radio-file").checked){
                        filechecked = 1;
                    }
                    else
                        filechecked = 0;
                    tarea = document.getElementById('resulted-gene-id');
                    leftdata = gene;
                }
                
                if(f.files.length > 0 && filechecked){
                    let file = f.files[0];
                    let mytext;
                    // Read file 
                    let reader = new FileReader();
                    reader.addEventListener('load', function (e) {
                        mytext = e.target.result;
                        let wordarr = mytext.split(/[ ,]+/);
                        wordarr = wordarr.map(function(x){ return x.toUpperCase() })
                        leftdata = leftdata.map(function(x){ return x.toUpperCase() })
                        wordarr = new Set(wordarr);
                        leftdata = new Set(leftdata);
                        let leftrightdiff = [...new Set(leftdata)].filter(x => !wordarr.has(x)); // ... for creating array form set
                        if(tarea){
                            tarea.textContent = leftrightdiff.map(function(x){ return x.toLowerCase() });
                        }
                    });
                    
                    reader.readAsBinaryString(file);
                }
                else if(text){
                    let mytext = text.split(/[ ,]+/);
                    mytext = mytext.map(function(x){ return x.toUpperCase() }) // .map is array function
                    leftdata = leftdata.map(function(x){ return x.toUpperCase() })
                    mytext = new Set(mytext);
                    leftdata = new Set(leftdata);
                    let leftrightdiff = [...new Set(leftdata)].filter(x => !mytext.has(x)); 
                    if(tarea){
                        tarea.textContent = leftrightdiff.map(function(x){ return x.toLowerCase() });
                    }
                }
                else{
                    alert("Please select file of enter data !!");
                }
            } 
            function rightleft_difference(flag){
                let data = JSON.parse(document.getElementById('mydata').textContent);
                disese = data.disese;
                protein = data.protein;
                gene = data.gene;
                dna = data.dna;
                let leftdata;
                let tarea;
                let f;
                let text;
                let filechecked;
                if(flag == 1){ // for protein    
                    f = document.getElementById('protein-file');
                    text = document.getElementById('protein-name-area').value;
                    if(document.getElementById("p-radio-file").checked)
                        filechecked = 1;
                    else
                        filechecked = 0;
                    tarea = document.getElementById('resulted-protein-id');
                    leftdata = protein;
                }
                else if(flag == 2){ // for gene
                    f = document.getElementById('gene-file');
                    text = document.getElementById('gene-name-area').value;
                    if(document.getElementById("g-radio-file").checked){
                        filechecked = 1;
                    }
                    else
                        filechecked = 0;
                    tarea = document.getElementById('resulted-gene-id');
                    leftdata = gene;
                }
                if(f.files.length > 0 && filechecked){
                    console.log("file selected");
                    let file = f.files[0];
                    let mytext;
                    // Read file 
                    let reader = new FileReader();
                    reader.addEventListener('load', function (e) {
                        mytext = e.target.result;
                        let wordarr = mytext.split(/[ ,]+/);
                        wordarr = wordarr.map(function(x){ return x.toUpperCase() })
                        leftdata = leftdata.map(function(x){ return x.toUpperCase() })
                        wordarr = new Set(wordarr);
                        leftdata = new Set(leftdata);
                        let rightleftdiff = [...new Set(wordarr)].filter(x => !leftdata.has(x)); // ... for creating array form set
                        if(tarea){
                            tarea.textContent = rightleftdiff.map(function(x){ return x.toLowerCase() });
                        }
                    });
                    
                    reader.readAsBinaryString(file);
                }
                else if(text){
                    let mytext = text.split(/[ ,]+/);
                    mytext = mytext.map(function(x){ return x.toUpperCase() }) // .map is array function
                    leftdata = leftdata.map(function(x){ return x.toUpperCase() })
                    mytext = new Set(mytext);
                    leftdata = new Set(leftdata);
                    let rightleftdiff = [...new Set(mytext)].filter(x => !leftdata.has(x)); 
                    if(tarea){
                        tarea.textContent = rightleftdiff.map(function(x){ return x.toLowerCase() });
                    }
                }
                else{
                    alert("Please select file of enter data !!");
                }
            }
            // function for entity tagg page
            let genes = [];
            let feedbackdata = new Object();
            let i = 0;
            function addEntity(index){
                let str = window.getSelection().toString();
                if (str.length == 0)
                    return;
                else
                    genes[i] = str;
                let item = document.getElementById("addedentity"+index);
                let newdiv = document.createElement('div');
                newdiv.className = 'newentity';
                newdiv.style.display = 'flex';
                // div to keep paragraph
                let pdiv = document.createElement('div');
                pdiv.style.flex = 1;
                let para = document.createElement('p');
                para.textContent = genes[i];
                pdiv.appendChild(para);
                // dropdown button using select tag
                let sdiv = document.createElement('div');
                sdiv.style.flex = 1;
                sdiv.style.margin = 'auto';
                let newselect = document.createElement('select');
                newselect.id = 'entitytype' + i;
                newselect.className = 'entityclass';
                newselect.style.color = '#c0299f';
                newselect.style.border = '1px #c0299f solid';
                newselect.style.borderRadius = '3px';
                newselect.style.backgroundColor = 'white';

                let firstops = document.createElement('option');
                firstops.textContent = 'Disease';
                firstops.value = 1;
                let secondops = document.createElement('option');
                secondops.textContent = 'Gene';
                secondops.value = 2;
                let thirdops = document.createElement('option');
                thirdops.textContent = 'Protein';
                thirdops.value = 3;
                newselect.appendChild(firstops);
                newselect.appendChild(secondops);
                newselect.appendChild(thirdops);
                let newlabel = document.createElement('label');
                newlabel.htmlFor = newselect;
                newlabel.textContent = 'Entity Type';
                newlabel.style.marginRight = '15px';
                newlabel.style.color = '#191983';
                // now append dropdown button
                sdiv.appendChild(newlabel);
                sdiv.appendChild(newselect);
                // add pdiv and sdiv to newdiv
                newdiv.appendChild(pdiv);
                newdiv.appendChild(sdiv);
                // add new div
                item.appendChild(newdiv);
                i += 1;
            }
            // handle dropdown button
            $(document).ready(function() { 
                $('body').on('change click', '.entityclass' ,function() {
                    let index = parseInt(this.id.replace("entitytype",""));
                    let optionSelected = $(this).find("option:selected");
                    let valueSelected  = optionSelected.val();
                    // console.log(index);
                    // console.log(valueSelected);
                    feedbackdata[genes[index]] = valueSelected;
                });
            });
            function sendFeedback(){
                feedbackdata = JSON.stringify(feedbackdata);
                $.ajax({
                    type: "POST",
                    url: "/entity-feedback/",
                    data: {
                        feedbackdata,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (d){
                        feedbackdata = new Object();
                        genes = [];
                        alert(d.message);
                    }
                });
            }
        </script>
    </head>
    <body>
        <div class="container">
            <h2>Select what you want to see: </h2>
            <div class="custom-control custom-radio">
                <!-- Maintain order of input tag and label tag -->
                <input type="radio" class="custom-control-input" id="setops-radio1" name="settag-name" value="1" checked> 
                <label class="custom-control-label" for="setops-radio1">Entities and Set operation</label>
            </div>
            <div class="custom-control custom-radio">
                <!-- Maintain order of input tag and label tag -->
                <input type="radio" class="custom-control-input" id="abstag-radio2" name="settag-name" value="2">
                <label class="custom-control-label" for="abstag-radio2">Abstracts with Tagged Entities</label>
            </div>
        </div>
        <div style="float: right">
            <button id = "feedback-button" onclick="sendFeedback()">Send Entity Feedback</button>
        </div>
        <!-- display: none is important -->
        <div id="outercontainer1" style="display: none">
            {% if entities %}
                <div class="container" style="display: flex; flex-direction: column">
                    {% if entities %}
                        {{ entities|json_script:"mydata"}}
                        {% if entities.disease %}
                        <div><h1>Entity: disease</h1></div>
                        <div class="disease">
                            <div class="container-left">
                                <h3>Cluster disease set</h3>
                                <p>
                                    {% for disease in entities.disease %}
                                        {{disease}},
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="container-middle"></div>
                            <div style="flex: 2"></div>
                        </div>
                        {% endif %}
                        {% if entities.gene %}
                        <div><h1>Entity: Gene</h1></div>
                        <div class="gene">
                            <div class="container-left">
                                <h3>Cluster Gene set</h3>
                                <p>
                                    {% for gene in entities.gene %}
                                        {{gene}} , 
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="container-middle">
                                <h3>Set operations between cluster and user Gene set</h3>
                                <div style="display: flex; flex-direction: column">
                                    <button onclick="union(2)" class="operation">Union</button>
                                    <button onclick="intersection(2)" class="operation">Intersection</button>
                                    <button onclick="leftright_difference(2)" class="operation">Left - Right</button>
                                    <button onclick="rightleft_difference(2)" class="operation">Right - Left</button>
                                </div>
                            </div>
                            <div class="container-right">
                                <h3>Your Gene set</h3>
                                <div style="display: flex">
                                    <div><input id="g-radio-file" type="radio" name="g-same" value="1"> Gene file</div><br>
                                    <div><input id="g-radio-text" type="radio" name="g-same" value="2"> Gene names</div>
                                </div>
                                <div id="gene1" class="gene-class">
                                    <h3>Choose a Gene file:</h3>
                                    <input type="file" id="gene-file" name="genefile" accept="text">
                                </div>	
                                <div id="gene2" class="gene-class">
                                    <h3>Enter Gene names: </h3>
                                    <textarea style="width: 95%; height: 65px; resize: none" name="gene-name" id="gene-name-area" cols="30" rows="10" style="width: 100%; height: 50px"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="gene-result">
                            <h3>Resulted Gene names: </h3>
                            <textarea style="width: 99%; height: 100px; resize: none" name="resulted-gene-name" id="resulted-gene-id" cols="30" rows="10" style="width: 100%; height: 50px"></textarea>
                        </div>
                        {% endif %}
                        {% if entities.protein %}
                        <div><h1>Entity: protein</h1></div>
                        <div class="protein">
                            <div class="container-left">
                                <h3>Cluster protein set</h3>
                                <p>
                                    {% for protein in entities.protein %}
                                        {{protein}},
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="container-middle">
                                <h3>Set operations between cluster and user protein set</h3>
                                <div style="display: flex; flex-direction: column">
                                    <button onclick="union(1)" class="operation">Union</button>
                                    <button onclick="intersection(1)" class="operation">Intersection</button>
                                    <button onclick="leftright_difference(1)" class="operation">Left - Right</button>
                                    <button onclick="rightleft_difference(1)" class="operation">Right - Left</button>
                                </div>
                            </div>
                            <div class="container-right">
                                <h3>Your protein set</h3>
                                <div style="display: flex">
                                    <div><input id="p-radio-file" type="radio" name="p-same" value="1"> Protein file</div><br>
                                    <div><input id="p-radio-text" type="radio" name="p-same" value="2"> Protein names</div>
                                </div>
                                <div id="protein1" class="protein-class">
                                    <h3>Choose a Protein file:</h3>
                                    <input type="file" id="protein-file" name="proteinfile" accept="text">
                                </div>	
                                <div id="protein2" class="protein-class">
                                    <h3>Enter protein names: </h3>
                                    <textarea style="width: 95%; height: 65px; resize: none" name="protein-name" id="protein-name-area" cols="30" rows="10" style="width: 100%; height: 50px"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="protein-result">
                            <h3>Resulted protein names: </h3>
                            <textarea style="width: 99%; height: 100px; resize: none" name="resulted-protein-name" id="resulted-protein-id" cols="30" rows="10" style="width: 100%; height: 50px"></textarea>
                        </div>
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div id="outercontainer2" style="display: none">
            {% if data %}
                {% for title, abs, pmid in data %}
                    <div>
                        <h2>{{title | safe}}</h2>
                        <div>
                            <h3>Abstract</h3>
                            <span class="abs">{{abs | safe}}</span>
                        </div>
                        <div class="bottom-container">
                            <div class="mesh-container">
                                <h3>PMID : {{pmid | safe}}</h3>
                            </div>
                            <div id="feedback-container">
                                <div style="display: flex">
                                    <div>
                                        <div class="question">Do you see new Entity ?</div>
                                        <div class="question">OR</div>
                                        <div class="question">wrong recognition ? </div>
                                    </div>
                                    <div style="margin: auto">
                                        <button onclick="addEntity('{{forloop.counter0}}')" id="feedback-button">Select the Entity by mouse and click here</button>
                                    </div>
                                </div>
                                <div id="addedentity{{forloop.counter0}}">
                                    <h2>Entity you added :</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>