{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Welcome to - MEDLINE Search</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'home/index.css' %}" />
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>  
        <script>
            $(document).ready(function(){
                console.log("clicked");
                $("input[name$='same']").click(function(){
                    let val = $(this).val();
                    $("div.select-file").hide();
                    $("#option" + val).show();
                });
            });
        </script>
</head>
<body>
    <div class="form-container">
        <form action="{% url 'home:result' %}" method="post" id="form">
            {% csrf_token %}
            <div class="search-container">
                <input id="search-field" type="text" name="query" id="InputID">
                <!-- <button id="submit-field" type="submit">Search</button> -->
            </div>	
            <div style="display: flex">
                <!-- Radio buttons -->
                <div><input type="radio" name="same" value="1"> Gene file</div><br>
                <div><input type="radio" name="same" value="2"> PMID file</div><br>
                <div><input type="radio" name="same" value="3"> Gene names</div>
            </div>
            <div id="option1" class="select-file">
                <!-- Gene file selection -->
                <label for="gene" id="filelabel">Choose a gene file:</label>
                &nbsp;&nbsp;&nbsp;
                <input type="file" id="gene" name="genefile" accept="text">
            </div>	
            <div id="option2" class="select-file">
                <!-- PMID file selection -->
                <label for="avatar" id="filelabel">Choose a PMID file:</label>
                &nbsp;&nbsp;&nbsp;
                <input type="file" id="avatar" name="pmidfile" accept="text">
            </div>
            <div id="option3" class="select-file">
                <!-- Enter gene names -->
                <textarea name="gene" id="gene-name-area" cols="30" rows="10" style="width: 100%; height: 50px"></textarea>
            </div>
        </form>
    </div>  
</body>
</html>