
<style>
    .search-container {
        position: relative;
        margin: 0 auto;
        margin-left: 150px;
        width: 632px;
    }
    .search-div {
        background: #fff;
        display: flex;
        border-radius: 8px;
        border: 1px solid #dfe1e5;
        box-shadow: none;
        height: 39px;
        width: 630px;
        border-radius: 24px;
        z-index: 3;
        height: 44px;
        margin: 0 auto;
    }

    .SDkEP {
        flex: 1;
        display: flex;
        padding: 5px 4px 0 16px;
        padding-left: 20px;
    }
    .a4bIc {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
    }
    .vdLsw {
        color: transparent;
        flex: 100%;
        white-space: pre;
    }
    .gsfi {
        font: 16px arial,sans-serif;
        line-height: 34px;
        height: 34px !important;
    }
    .gLFyf {
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
        color: rgba(0,0,0,.87);
        word-wrap: break-word;
        outline: none;
        display: flex;
        flex: 100%;
        -webkit-tap-highlight-color: transparent;
        margin-top: -37px;
    }
    
    .Tg7LZd {
        border-radius: 0;
        -webkit-border-top-right-radius: 8px;
        height: 44px;
        width: 44px;
        background: transparent;
        border: none;
        cursor: pointer;
        flex: 0 0 auto;
        padding: 0;
    }
    .rINcab {
        background: none;
        color: #4285f4;
        height: 24px;
        width: 24px;
        margin: auto;
    }
    .z1asCe, .qa__svg-icon {
        display: inline-block;
        fill: currentColor;
        height: 24px;
        line-height: 24px;
        position: relative;
        width: 24px;
    }
</style>
<div class="search-container">
    <div class="search-div">
        <div class="SDkEP">
            <div class="a4bIc">
                <div class="vdLsw gsfi"></div>
                <input class="gLFyf gsfi" maxlength="2048" name="q" type="text" role="combobox" spellcheck="false" title="Search" placeholder="Enter query here " aria-label="Search">
            </div>
        </div>  
        <button class="Tg7LZd" label="Google Search" type="button">
            <div class="rINcab"> 
                <span class="z1asCe MZy1Rb">
                    <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                    </svg>
                </span> 
            </div> 
        </button> 
    </div>
</div>