awscli
blis
botocore
certifi
chardet
colorama
conllu
cymem
Django
docutils
en-ner-jnlpba-md
idna
jmespath
joblib
murmurhash
nltk
nmslib
numpy
plac
preshed
pyasn1
pybind11
python-crfsuite
python-dateutil
pytz
PyYAML
requests
rsa
s3transfer
scikit-learn
scipy
scispacy
six
sklearn
sklearn-crfsuite
spacy
sqlparse
srsly
stop-words
tabulate
thinc
tqdm
urllib3
wasabi
xgboost
xlrd
XlsxWriter
xmltodict
