body {
    background: #ffffff;
    color: #333333;
    font-family: arial,sans-serif;
    font-size: medium;
    margin: 20px;
}

.abs {
    color:#545454;
}

h2 {
    color: #191983;
    font: 1.2em 'Segoe UI',Arial,Helvetica,Sans-Serif;
}
h3 {
    color: #c0299f;
    font: 1.2em 'Segoe UI',Arial,Helvetica,Sans-Serif;
}

.highlight {
    background-color: yellow;
}
.bottom-container {
    display: flex;
}
.mesh-container {
    flex: 1;
}
#feedback-container {
    flex: 1;
}
#feedback-button {
    border: none;
    background: pink;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}
.question {
    margin: 0px;
    padding: 0px;
    color: #4e1f7a;
    font: 1.2em 'Segoe UI',Arial,Helvetica,Sans-Serif;
}
/* for annotation */
.disease-highlight {
    background-color: yellow;
}
.protein-highlight {
    background-color: pink;
}
.gene-highlight {
    background-color: #66ff66;
}
